txt=
<p><br><b>About Us</b><br>
Centurion Partners LLC., headquartered in Newport Beach, California, is a real estate investment and development company. Centurion Partners is engaged in the ownership, development, and management of commercial real estate specializing in luxury residential and commercial projects primarily in the Western region of the United States.<br>
Through its subsidiary partnerships, it currently owns or has an interest in new development projects in the United States containing an aggregate market value of $800 Million. Centurion Partners' Principles come from an elite background with an aggregate of over 100 years of proven real estate experience in investing, development, financing and asset management. Centurion Partners' collective experience includes more than $5.0 Billion of invested capital.<br>
Centurion Partners LLC deliver the full range of development resources from site selection and financing all the way to managing the completed project. Guided by the highest ethics, the company applies its diverse talents and years of experience with unparalleled results.<br>
Signature developments for the year 2005, are "The Residences at Little Nell" in Aspen Colorado and two high rise luxury towers "Library Tower" (44 story) and "Sapphire Tower" (33 story) in San Diego, California. The projects continue to be a model for how business and surrounding communities mutually benefit from superior real estate development.<br>
</p>
