txt=
<p>660 Newport Center Drive
Suite 500
Newport Beach, California 92660
Phone (949) 250-8800
Fax (949) 250-8801 
<br><b>Contact emails:</b><br>
Scot Matteson - Managing Member
<a href="mailto:scotmatteson@centurion-partners.com">scotmatteson@centurion-partners.com</a><br>
Michael Smith - Managing Member
<a href="mailto:michaelsmith@centurion-partners.com">michaelsmith@centurion-partners.com</a><br>
Michael Lutton - Managing Member
<a href="mailto:michaellutton@centurion-partners.com">michaellutton@centurion-partners.com</a><br>
Robert Senour - Executive Vice President
<a href="mailto:robertsenour@centurion-partners.com">robertsenour@centurion-partners.com</a><br>
Sylvie Dehoux - Executive Assistant / Office Manager
<a href="mailto:sylviedehoux@centurion-partners.com">sylviedehoux@centurion-partners.com</a><br>
Melanie Tran - Controller
<a href="mailto:melanietran@centurion-partners.com">melanietran@centurion-partners.com</a><br>
JonLuke Del Fante - Acquisition Analyst
<a href="mailto:jonlukedelfante@centurion-partners.com">jonlukedelfante@centurion-partners.com</a><br>
Jared Cieslewicz - Project Manager
<a href="mailto:jaredcies@centurion-partners.com">jaredcies@centurion-partners.com</a><br>
Jaimie Nguyen - Project Accountant 
<a href="mailto:jaimienguyen@centurion-partners.com">jaimienguyen@centurion-partners.com</a><br>
Philip Wall - Vice President 
<a href="mailto:philipwall@centurion-partners.com">philipwall@centurion-partners.com</a><br>
Greg Henderson - Chief Operating Officer
<a href="mailto:greghenderson@centurion-partners.com">greghenderson@centurion-partners.com</a><br>
Michael Shapiro - Senior Vice President of Acquisitions and Finance
<a href="mailto:michaelshapiro@centurion-partners.com">michaelshapiro@centurion-partners.com</a><br>
</p>
<p>1202 Kettner Blvd., Suite 4300
San Diego, California  92101
Phone: (619) 236-8715
Fax: (619) 236-8714
 <br /><b>Contact emails:</b>
Andrew Gerber - Project Engineer
<a href="mailto:andrewgerber@centurion-partners.com">andrewgerber@centurion-partners.com</a><br>
Anne Chu - Administrative Assistant
<a href="mailto:annechu@centurion-partners.com">annechu@centurion-partners.com</a><br />
Larry Zimmerman - Project Executive
<a href="mailto:larryzimmerman@centurion-partners.com">larryzimmerman@centurion-partners.com</a><br />
</p>