txt=
<p>300 South Spring St.
Suite 301
Aspen, Colorado 81611 
Phone (970) 544-8336
Fax (970) 544-8271 <br>
John Sarpa - Executive Vice President
<a href="mailto:johnsarpa@centurion-partners.com ">johnsarpa@centurion-partners.com </a><br>
Krystal A. England - Project Development Manager
<a href="mailto:krystalengland@centurion-partners.com">krystalengland@centurion-partners.com</a><br>
Nathan Waldron - Analyst
<a href="mailto:nathanwaldron@centurion-partners.com">nathanwaldron@centurion-partners.com</a><br>
Peggy Lasalle - Office Manager
<a href="mailto:peggylasalle@centurion-partners.com">peggylasalle@centurion-partners.com</a><br></p>