txt=
<p>660 Newport Center Drive
Suite 500
Newport Beach, California 92660
Phone (949) 250-8800
Fax (949) 250-8801 <br>
Robert Farrell - President
<a href="mailto:robertfarrell@centurion-partners.com ">robertfarrell@centurion-partners.com</a><br></p>