txt=
<p><br><b>Development - Management Capabilities</b></p>
<p></p>
<p>Centurion Partners brings a broad range of real estate development capabilities to any project. These range from opportunity analysis, deal structuring, development team selection/ management and zoning approvals early on, and then project financing (debt and equity), construction oversight, sales and marketing, project budgeting/reporting and asset disposition.</p>
<p></p>
<p><b>Opportunity Analysis</b> Centurion's principals have many years of successful real estate experience including real estate investment banking, commercial and residential construction and leasing, office building and high density residential development and resort luxury hotel and residential development. This combined with in house construction and financial analysts, enables the principals to approach any possible development opportunity with creativity as well as realistic economic projections.</p>
<p></p>
<p><b>Deal Structuring</b> Creating the optimal structure of debt, equity and partnership responsibilities is critical to the profitability of any project. With extensive institutional financial relationships and personal equity sources, Centurion has the ability to approach each project deal structure with a wide range of financing possibilities. Moreover, having participated in many types of partnerships and shared responsibilities formats, Centurion can assume all project management functions or some portion thereof as appropriate.</p>
<p></p>
<p><b>Development Team Selection/Management</b> Knowing which people to bring on to a development team as consultants and effective management of them is a critical component of Centurion's capabilities. Centurion knows how to push a team to meet owner's expectations and yet, factor in their advice. Selecting the best people and companies available for the development is only the beginning, getting them to perform on time and within budget is Centurion's focus.</p>
<p></p>
<p><b>Zoning Approvals</b> All across the country, governmental approvals are becoming increasingly difficult to obtain for real estate projects such that the final project has enough profit potential to balance the risks associated with it. With many years of successful zoning negotiations, Centurion's principals have the knowledge and experience necessary to work a project through the complex political and technical challenges many jurisdictions now have in place to discourage development.</p> 
<p></p>
<p><b>Project Financing</b> Centurion has participated in and arranged over 400 million in real estate financing in the last 2 years alone. We have strong financial relations with a host of leading real estate institutional lenders including Goldman Sachs (Whitehall), Likewise, both on our own account and through numerous individual equity investor relationships, Centurion has and will commit significant levels of equity in appropriate projects and deal structures. Because of this high level of financial activity and the strength of our institutional relations, the terms of capital arranged by Centurion are very favorable on a national comparative basis.</p>
<p></p>
<p><b>Construction Oversight</b> Centurion's principals have developed, built and managed construction of millions of square feet of projects ranging from luxury hotels, fractional clubs, single family and high rise projects to commercial office buildings and industrial warehouses. Most of our projects are directly supervised by our construction staff and on some of the larger projects we have also managed third party construction managers.</p>
<p></p>
<p><b>Sales and Marketing</b> Centurion has sold its various real estate unit types both through in house sales staff developed and managed directly by Centurion as well as through outside brokerage firms. Each project varies in terms of the most optimum method to maximize sales velocity and profitability. Marketing is most often contracted out and we have many years of experience of selecting and managing a wide variety of some of the leading firms in this field.</p>
<p></p>
<p><b>Project Budgeting/Reporting</b> Centurion's staff has many years of experience in developing and administering budgets and project reports for partners, investors, and lenders. This critical component of profitable development requires the ability to estimate with accuracy a project's likely total costs and revenues early in the opportunity analysis stage, and then refining the budgets and adhering to them as the project matures. Centurion's extensive working relationships with some of the leading contractors, architects, realtors, lenders, land use attorneys and others in the real estate industry, enables us to access the most up to date information and techniques for establishing reliable project financial projections and budgets.</p>
<p></p>
<p><b>Asset Disposition</b> Centurion's many relationships with institutional and individual real estate investors provides us with on going opportunities to review new prospective projects and to present our assets for sale. Accordingly, we have excellent and numerous avenues to sale our projects when that alternative is most profitable disposition of the asset.</p>
<p></p>
<p><b>Project Administration</b><br>
Disciplines Coordination / Document Checking Agency consulting / Review and Approval Owner supplied Data Collection<br>
Schedule Development and Monitoring Preliminary Estimate of cost of the work Presentations</p>
<p></p>
<p><b>Programming</b><br>
Space Schematic / Flow Diagram Existing facilities survey<br>
Marketing studies<br>
Economic Feasibility studies Project financing</p>
<p></p>
<p><b>Site analysis and selection</b><br>
Site development Planning<br>
Detailed Site utilization studies On-site utility studies<br>
Off-site utility studies<br>
Environmental studies and reports Zoning Processing Assistance CCDC Coordination<br>
Entitlement Coordination<br>
Governmental processing<br>
Geotechnical Engineering<br>
Site Surveying<br>
Architectural Design / Documents Structural<br>
Mechanical<br>
Electrical<br>
Civil<br>
Landscape<br>
Interior design<br>
Special design documents<br>
Materials Research/Specifications</p>
<p></p>
<p><b>Bidding Materials</b><br>
Addenda<br>
Bidding/Negotiations<br>
Analysis of Alternates and substitutions Special bidding<br>
Bid Evaluation<br>
Contract award</p>
<p></p>
<p><b>Submittal services</b><br>
Observation Services<br>
Project Representation<br>
Testing and inspection Administration Supplemental Doc.<br>
Quotation Requests/changes Order Contract cost accounting<br>
FF%26E Installation Administration Interpretation and decisions<br>
Project close</p>
<p></p>
<p><b>Maintenance and operational programming</b><br> 
Start-up Assistance<br>
Record Drawing Warranty review<br>
Post Contract Evaluation</p>
<p></p>
<p><b>Tenant Related services</b><br> 
Special Furnishing Design<br>
FF%26E Services<br>
Special Disciplines Consultant<br>
Special Building type construction<br>
Fine Arts and Crafts Graphic Design<br>
Renderings<br>
Model Construction Still Photography<br>
Motion Pictures and Videotape<br>
Expert witness<br>
Material and systems testing<br>
Demolition Services Mock-up Services<br>
Coordination of Designated Services<br>
FF%26E purchasing and installation<br>
Computer Applications<br>
Project promotion and Public Relations<br>
Leasing Brochures<br>
Pre-Contract Administration/ Management Extended Bidding<br>
Extended contract Administration / Management</p>