txt=
<p><br>
  <b>Centurion Developments </b></p>
<br>
<p>The expertise of the management team at Centurion Partners has been able to raise the standard in real estate development. Centurion Partners has four major projects on its current development slate: Residences at Little Nell, Lodge at Aspen , Sapphire Tower and Library Tower . With every project, Centurion Partners has blended the beauty and uniqueness of the landscape with a stylized development that transcends anything previously done in the region. These four projects will transform the landscape and skyline of the cities Aspen and San Diego with modern yet blended new residential and retail layouts. While every project is aimed to be of the highest caliber, the target demographics are a direct relfection of the individuality of the locations. Form the outdoor beauty of the Aspen Mountains to the urban sophistication of Sapphire Tower, Centurion Partners has created development that meet the demands of indivudial lifestyles. Where you live, work and play are a direct reflection of who you are and should accomodate that individuality. Centurion Partners succeeds in creating these worlds in their projects of Little Nell, Lodge at Aspen, Sapphire Tower and Library Tower. </p>
