txt=
<p><br><b>Kenyon Pointe</b><br>
Kenyon Pointe Apartments is a Multi-Family Apartment Community recreated by Centurion Partners. The project originally built as apartments in 1965. The project was sold off over the years to individual ownerships made up of 14 separate buildings.

With Creativity and a Strong eye for creating value, Centurion Partners purchased each separate building until 100 percent had been reassembled into a single project. Centurion Partners then made significant capital improvements, until the property was back to its original high quality condition. This reassembling / redevelopment approach created greater cash flow, higher rents, first class property and beautiful apartment homes for the community to enjoy. The project location is in Tustin, California. The project was sold for $13,750M in 2005.
</p>
