txt=
<p><br><b>Santa Ana Commercial</b><br>
Centurion Partners Santa Ana, LLC acquired - The County of Orange Social Services Regional Facility, at 1928 South Grand Avenue, Santa Ana, Ca. The $46M dollar property consists of 170,000 square-foot office complex. As part of the acquisition, CPSA, LLC agreed to construct an additional 40,000 square feet of new office-building space and upgrade the existing space. The completed project will consist of 210,000 square feet. The project is located within a few miles of John Wayne / Santa Ana Airport and the City of Newport Beach, Ca.  The lease term with the County of Orange is 20 years.</p>