txt=
<p><br><b>The Library Tower</b><br>
Library Tower is a mixed-use residential/retail condominium tower that will be the tallest along the San Diego skyline. The tall and slender design represents the modern ideal of urban living. It incorporates residential living and retail space within the 35,000 square foot site. The tower is rotated to align itself with the diagonal arm of the "Bay to Park Link", helping to link the city's two dominant natural features: Balboa Park and the San Diego Bay . Library Tower will also create a landscaped pedestrian Promenade with enhanced landscaping, lighting, public art and an unfettered view of San Diego Bay from Library Circle . </p>
<br><p><b>For more information visit <a href="http://www.librarytowersd.net" target="_blank">www.librarytowersd.net</a></b></p>