txt=
<p><br><b>The Lodge at Aspen Mountain</b><br>
The Lodge at Aspen Mountain will be one of the finest hotels in the world with an extraordinary location. Situated at the base of Aspen Mountain at chair lift 1-A, Aspen's New Five-Star Hotel will be the premier ski in / ski out destination designed in luxurious mountain elegance. Most of the spacious, elegantly appointed guestrooms will command spectacular views of the mountain and the dining experience will range from intimate indoor venues to dramatic outdoor Mountain View settings. </p>
