txt=
<p><br>
<b>The Sapphire Tower</b><br>
Sapphire Tower is the newest addition to luxury homes in downtown San Diego,
sitting in the heart of the Columbia District. Sapphire Tower will feature 
floor to ceiling windows that welcome sunlight and offer multiple, spectacular 
panoramic views of San Diego's lively city or the waterfront glistening off 
the San Diego Bay or Coronado Island. Vast panoramas of the waterfront and skyline 
fill the windows of Sapphire Tower , bringing beauty and inspiration to everyday 
life. Sapphire Tower becomes the perfect mix of exclusive urban residential 
living with an Amtrak station at the base of its tower with its other retail
centers. </p><br>
<p><b>For more information visit <a href="http://www.sapphiretower.net" target="_blank">www.sapphiretower.net</a></b></p>
