txt=
<p><br><b>Residences at The Little Nell</b><br>
Residences at The Little Nell is located by the main entrance of Aspen Mountain and is designed to be the premier Aspen "ski in and out" destination. The design of the Residences allows it to seamlessly blend in to the beauty of the mountain, perfectly complementing the beautiful outdoor Aspen lifestyle. The Residences are a mixed retail/residential development accentuated by the gondola connecting the top of Aspen Mountain , located just feet from the new project <strong>. </strong></p>
<br><p><b>For more information visit <a href="http://www.rlnaspen.com" target="_blank">www.rlnaspen.com</a></b></p>
